// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

//@import "node_modules/font-awesome/scss/font-awesome.scss";

@import "../all.css";

    
  
 
@import url(https://fonts.googleapis.com/css?family=Orbitron:700);



.focus-color {
  box-shadow: 0 0 4pt 3pt yellow;
}


.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}


/* Stars 
------------------------------------- */

#space, .stars22 {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars22 {
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 6s infinite;
  opacity: 0;
}

.stars22:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars22:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 0.5s;
}
.stars22:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 1s;
}
.stars22:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 2s;
}
.stars22:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 3s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  } 
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}



//@import compass


// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n{
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }

  @return unquote($value)
}
  

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);


    
#stars{
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation			: animStar 50s linear infinite;

  &:after{
    content: " ";
    position: absolute;
    right: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    }
  }

#stars2{
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation			: animStar 100s linear infinite;
    
  &:after{
    content: " ";
    position: absolute;
    right: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    }
  }
    
#stars3{
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation			: animStar 150s linear infinite;
    
  &:after{
    content: " ";
    position: absolute;
    right: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    }
  }

 
    
@keyframes animStar{
  from	{
    transform: translateX(0px)
  }
  to		
  {
    transform: translateX(2000px)
  }
  }

/////////////pb planete override controle fonction
.important{
  position:relative !important;
}

/////////// fin pb override


//////////// PLANETE
$solarSystem: ("mercury", "venus", "earth", "mars", "jupiter", "saturn", "uranus", "neptune", "pluto", "sun");
:root {
  --mercury-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/mercury2.jpg);
  --mercury-tilt: rotate(0.034deg);
  --mercury-day: 1407.6; 
  --mercury-color: #999999;
  --venus-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/venus2.jpg);
  --venus-tilt: rotate(177.3deg); 
  --venus-day: 5832.5;
  --venus-color: #e8cda2;
  --earth-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/earth.jpg);
  --earth-tilt: rotate(23.26deg);
  --earth-day: 23.9;
  --earth-color: #b3caff;

  --jupiter-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/jupiter.jpg);
  --jupiter-tilt: rotate(3.1deg);
  --jupiter-day: 9.9;
  --jupiter-color: #c9b5a4;
  --saturn-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/saturn.jpg);
  --saturn-tilt: rotate(26.7deg);
  --saturn-day: 10.7;
  --saturn-color: #f0e2c4;
  --uranus-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/uranus2.jpg);
  --uranus-tilt: rotate(97.8deg);
  --uranus-day: 17.2;
  --uranus-color: #b8d8e1;
  --neptune-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/neptune.jpg);
  --neptune-tilt: rotate(28.3deg);
  --neptune-day: 16.1;
  --neptune-color: #5e73bb;
  --pluto-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/pluto.jpg);
  --pluto-tilt: rotate(122.5deg);
  --pluto-day: 153.3;
  --pluto-color: #c3b6aa;
  --sun-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/sun.jpg);
  --sun-tilt: rotate(0deg);
  --sun-day: 600; 
  --sun-color: #cc9f4c;
}

//Mixin for styling each planet

/*--mars-image: ;
--mars-tilt: ;
--mars-day: 24.6;
--mars-color: #c07158;*/


      .planet__atmosphere {
        box-shadow: inset 10px 0px 12px -2px rgba(255,255,255,.2), 
                    inset -70px 0px 50px 0px black,
                    -5px 0px 10px -4px #c07158;
      }
      .planet__surface {
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/mars.jpg);
        transform: rotate(25.2deg)scale(1.2);
        animation: planetRotate calc(50s) linear infinite; 
      }
      .card__planet {
        animation	: animPlanet 90s linear infinite;
       
        &::before {
          transform: rotate(25.2deg)scale(1.2);
          border-color: #c07158;
          color: #c07158;
        }    
      }
      .tilt__icon {
        transform: rotate(25.2deg);
        color: #c07158;
      }


//Planet rotation animation
@keyframes planetRotate {
  0%{
    background-position: 0% center;
  }
  100%{
    background-position: -200% center;
  }
}


.planet {
  &__atmosphere {
    height: 190px;
    width: 190px;
    position: relative;
    background: radial-gradient(circle at 30% 50%, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 65%);
    border-radius: 100px;
    overflow: hidden;
  }
  &__surface{
    position: absolute; 
    height: 100%;
    width: 100%; 
    z-index: -1;
    background-size: cover;
  }
}

//Different box-shadow for the sun
.card--sun {
  .planet__atmosphere {
    box-shadow: 0px 0px 10px 0px var(--sun-color), 
      0px 0px 1000px -2px var(--sun-color);
  }
}

@keyframes animPlanet{
  from	{
    transform: translateX(0px)
  }
  to		
  {
    transform: translateX(3000px)
  }
  }
//////////// FIN PLANETE






















::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}






video#bgvid {
 // position: fixed; left: 0; top: 0;
    opacity:0.1;
  //min-width: 100%; min-height: 100%;
  //width: auto; height: auto; z-index: -100;
  //background: url() no-repeat;
  //background-size: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.h-1\/2 {
    height: 50%;
  }
  
  .h-1\/3 {
    height: 33.333333%;
  }
  
  .h-2\/3 {
    height: 66.666667%;
  }
  
  .h-1\/4 {
    height: 25%;
  }
  
  .h-2\/4 {
    height: 50%;
  }
  .h-3\/4 {
    height: 75%;
  }
  
  .h-1\/5 {
    height: 20%;
  }
  
  .h-2\/5 {
    height: 40%;
  }
  
  .h-3\/5 {
    height: 60%;
  }
  
  .h-4\/5 {
    height: 80%;
  }
  
  .h-1\/6 {
    height: 16.666667%;
  }
  
  .h-2\/6 {
    height: 33.333333%;
  }
  
  .h-3\/6 {
    height: 50%;
  }
  
  .h-4\/6 {
    height: 66.666667%;
  }
  
  .h-5\/6 {
    height: 83.333333%;
  }
  
  .h-1\/12 {
    height: 8.333333%;
  }
  
  .h-2\/12 {
    height: 16.666667%;
  }
  
  .h-3\/12 {
    height: 25%;
  }
  
  .h-4\/12 {
    height: 33.333333%;
  }
  
  .h-5\/12 {
    height: 41.666667%;
  }
  
  .h-6\/12 {
    height: 50%;
  }
  
  .h-7\/12 {
    height: 58.333333%;
  }
  
  .h-8\/12 {
    height: 66.666667%;
  }
  
  .h-9\/12 {
    height: 75%;
  }
  
  .h-10\/12 {
    height: 83.333333%;
  }
  
  .h-11\/12 {
    height: 91.666667%;
  }

  .top-1\/2{
    top:50%;
  }
